# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=your_mongodb_connection_string

# Frontend URL
CLIENT_URL=http://localhost:5173

# Authentication
JWT_SECRET=your_jwt_secret

# Email
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587